<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ahmed Ali</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

  <!-- Custom styles for this template -->  
  <link href="{{ url_for('static', filename='css/resume.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Ahmed Ali</span>
      <span class="d-none d-lg-block">
        
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/profile_pcs/IzAReYRx_400x400.jpg') }}" alt="">


      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Professional Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Research Interests</a>
        </li>
         <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#media">Media Coverage</a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#publication">Publication</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        -->
        
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Ahmed 
          <span class="text-primary">Ali</span>
        </h1>
        <div class="subheading mb-5">Interested in Languages and Speech Recognition.
          <a href="mailto:ahmed@arabicspeech.org">ahmed@arabicspeech.org</a>
        </div>
        <p class="lead mb-5">Principal Engineer at the Arabic Language Technologies group (ALT) at the <a href="https://www.hbku.edu.qa/en/qcri/">Qatar Computing Research Institute (QCRI)</a>.<br>
Founder of <a href="https://arabicspeech.org/">Arabic Speech</a>.<br>
Work interests are in the area of speech recognition and natural language processing.
Completed PhD at the school of Informatics University of Edinburgh and BSc at Cairo University.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/ahmedali08/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <!--<a href="#">
            <i class="fab fa-github"></i>
          </a>
        -->
          <a href="https://twitter.com/ahmaksod">
            <i class="fab fa-twitter"></i>
          </a>
          <!--<a href="#">
            <i class="fab fa-facebook-f"></i>
          -->
          </a>
        </div>
      </div>
    </section>


<hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Achievements</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            The founder of the Arabic Speech research community <a href="https://arabicspeech.org/">ArabicSpeech</a>
          <li>

            <i class="fa-li fa fa-trophy text-warning"></i>
            The founder of <a href="https://qats.qcri.org/">QATS</a> speech transcription system
            <li>

            <i class="fa-li fa fa-trophy text-warning"></i>
            Best paper in the Multi Genre Broadcast <a href="http://www.mgb-challenge.org/">(MGB-2)</a> challenge in 2016
                                
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Best Innovation Award at the the Qatar Foundation Annual Research Conference 2018 <a href="https://www.thepeninsulaqatar.com/article/20/03/2018/Sheikha-Moza-honours-ARC%E2%80%9918-award-winners">(ARC’18)</a></li>


          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
              SUMMA Hack Best Audience Experience award for a video news bot. The bot aggregates a story and automatically creates a video summary at the end with relevant images, titles and a computer-generated voice.  <a href="http://summa-project.eu/2017/11/23/qatar-computing-team-wins-summa-hack-best-audience-experience-prize/">SUMMA newsHACK 2017</a></li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
             Best in Show: Translating BBC Arabic video into English, including subtitles, voice and using Speaker Diarisation to change gender of speech synthesis alongside the changes in the voiceover gender. <a href="https://www.bbc.co.uk/blogs/internet/entries/8a50d986-1864-3787-b48e-c53966e4620e">BBC newsHACK III 2014</a></li>


        </ul>
      </div>
    </section>

  </div>

<hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Research Interests</h2>
        <p>Ahmed’s research interests are in the area of speech recognition and natural language processing with special attention to dialectal Arabic speech and text processing. A recent focus has been on dialect detection. i.e can we recognize the spoken dialect using acoustic and linguistic cues? Another strand of his work is evaluating speech recognition for dialects with no orthographic rules and prediction for quality estimation for automatic speech processing systems </p>
        <ul style="list-style-type:square">
          <li>Reviewer in ICASSP, INTERSPEECH, ASRU, SLT, Speech and Langauge Processing Journal, ACL, NAACL, EMNLP</li>
          <li><a href="http://summa-project.eu/">SUMMA</a> (EC H2020 project, 3 years, 2016-2019) </li>
          <li>PI for the speech processing <a href="https://qcri.csail.mit.edu/"> QCRI-CSAIL computer Science Research Program</a> (2012-Present) </li>
        </ul>

      </div>
    </section>
    

<hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="media">
      <div class="w-100">
        <h2 class="mb-5">Media Coverage</h2>
        <ul style="list-style-type:square">
        <li><a href="https://www.speechtechmag.com/Articles/ReadArticle.aspx?ArticleID=111199">Speechmatics Partners with QCRI for Arabic Speech-to-Text Transcription.</a></li>
        <li><a href="https://www.thepeninsulaqatar.com/article/12/05/2016/UK-based-firm-to-use-QCRI-technology">UK-based firm to use QCRI technology.</a></li>
        <li><a href="https://www.thepeninsulaqatar.com/article/20/03/2018/Sheikha-Moza-honours-ARC%E2%80%9918-award-winners">Sheikha Moza honours ARC’18 award winner.</a></li>
        <li><a href="https://medium.com/qatar-foundation/qcri-breaking-down-language-barriers-996e395b1482">QCRI: Breaking down language barriers.</a></li>
        <li><a href="https://www.hbku.edu.qa/en/news/workshop-arabic-speech-technologies">QCRI to Host Research-Driven Workshop on Arabic Speech Technologies.</a></li>
                            </ul>

      </div>
    </section>
    
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><a href="https://www.hbku.edu.qa/en/staff/dr-ahmed-ali">Principal Engineer</a></h3>
            <div class="subheading mb-3">QCRI</div>
          
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2016 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Software Engineer</h3>
            <div class="subheading mb-3">QCRI</div>
           
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2011 - February 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Speech Recognition Engineer</h3>
            <div class="subheading mb-3">Nuance, Cambridge, UK</div>
            
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2009 - August 2011</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Speech Recognition Engineer</h3>
            <div class="subheading mb-3"> Spinvox, Marlow, Cambridge UK</div>
            
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2006 - December 2009</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Software Engineer</h3>
            <div class="subheading mb-3"> IBM, Cairo/Egypt and two years IBM-Watson Research Center, USA</div>
            
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2000 - 2006</span>
          </div>
        </div>


      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">University of Edinburgh</h3>
            <div class="subheading mb-3">PhD</div>
             <div><a href="https://era.ed.ac.uk/handle/1842/31224">Multi-dialect Arabic broadcast speech recognition</a></div>
                       
          <ul style="list-style-type:square">
          <li>Thesis advisor: <a href="http://homepages.inf.ed.ac.uk/srenals/"> Steve Renals</a></li>
          <li>External Examiner: <a href="http://mi.eng.cam.ac.uk/~pcw/">Phil Woodland</a></li>
          <li>Internal Examiner: <a href="http://homepages.inf.ed.ac.uk/hshimoda/">Hiroshi Shimodaira</a></li>
          </ul>

           
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2014 - May 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Faculty of Engineering, Cairo University</h3>
            <div class="subheading mb-3">BSC</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">1995 - 2000</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <!--
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-angular"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-react"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-grunt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>
    -->

   


  




    
   <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="publication">
      <div class="w-100">
        <h2 class="mb-5">Publication</h2>
        <p> The updated list of publications is in my <a href="https://scholar.google.com/citations?user=t0gYEjAAAAAJ&hl=en">Google sholar </a></p>
             <h5 class="">2019</h4>

            <ul>
            <li> Y. Belinkov, <B>A. Ali</B> and J. Glass. Analyzing Phonetic and Graphemic Representations in End-to-End Automatic Speech Recognition. <a href="https://people.csail.mit.edu/belinkov/assets/pdf/interspeech2019.pdf">Interspeech.</a></li>
             
            <li> Y. Hifny and <B>A. Ali</B>. Efficient Arabic Emotion Recognition Using Deep Neural Networks. <a href="http://150.162.46.34:8080/icassp2019/ICASSP2019/pdfs/0006710.pdf">ICASSP.</a></li>
            
            <li> S. Khurana, S. Joty,  <B>A. Ali</B> and  J. Glass. A Factorial Deep Markov Model for Unsupervised Disentangled Representation Learning from Speech <a href="https://people.csail.mit.edu/sameerk/papers/ICASSP_dmm_rev.pdf">ICASSP.</a></li>

            <li> S. Shon, <B>A. Ali</B> and J. Glass.  Domain Attentive Fusion for End-to-end Dialect Identification with Unknown Target Domain <a href="https://people.csail.mit.edu/swshon/pdf/shon_icassp2019_domain.pdf">ICASSP.</a></li>

            <li> <B>A. Ali</B>, S. Khalifa and N. Habash. Towards Variability Resistant Dialectal Speech Evaluation <a href="https://www.isca-speech.org/archive/Interspeech_2019/pdfs/2692.pdf">Interspeech.</a></li>

            <li> Y. Dinkov, <B>A. Ali</B>, K. Ivan and P. Nakov.  Predicting the Leading Political Ideology of YouTube Channels Using Acoustic, Textual, and Metadata Information <a href="https://arxiv.org/abs/1910.08948">Interspeech.</a></li>

               
             <li> M. Eldesouki, N. Gopee, <B>A. Ali</B> and K. Darwish. FarSpeech: Arabic Natural Language Processing for Live Arabic Speech <a href="https://www.isca-speech.org/archive/Interspeech_2019/pdfs/8030.pdf">Interspeech Demo.</a></li>

            <li> S. Khurana, <B>A. Ali</B> and J. Glass. DARTS: Dialectal Arabic Transcription System <a href="https://arxiv.org/abs/1909.12163">arxiv.</a></li>

            <li> D. Kopev, <B>A. Ali</B>, I. Koychev and P. Nakov. Detecting deception in political debates using acoustic and textual features <a href="URL">ASRU.</a></li>

            <li> <B>A. Ali</B>, S. Shon, Y. Samih, H. Mubarak, A. Abdelali, J. Glass, S. Renals and K. Choukri. The MGB-5 Challenge: Recognition and Dialect Identification of Dialectal Arabic Speech <a href="URL">ASRU.</a></li>
        </ul>
<h5 class="">2018</h4>
                <ul>
                    <li> A.Barrón, G. Martino, Y. Xhang, <B>A. Ali</B> and F. Dalvi.  Qlusty: Quick and Dirty Generation of Event Videos from Written Media Coverage <a href="URL">ECIR.</a></li>
                    
                    <li> S. Shon, <B>A. Ali</B> and J. Glass.  Convolutional neural networks and language embeddings for end-to-end dialect recognition <a href="https://arxiv.org/abs/1803.04567">Odyssey.</a></li>

                    <li> M. Najafian, S. Khurana, S. Shan, Suwon, <B>A. Ali</B> and J. Glass. Exploiting convolutional neural networks for phonotactic based dialect identification<a href="https://groups.csail.mit.edu/sls/publications/2018/SuwonShon_ICASSP18.pdf">ICASSP.</a></li>


                    <li> <B>A. Ali</B> and S. Renals. Word error rate estimation for speech recognition: e-WER <a href="https://www.aclweb.org/anthology/P18-2004.pdf">ACL.</a></li>

                    <li> M. Zampieri, S. Malmasi, P. Nakov, <B>A. Ali</B> ..etc.  Language Identification and Morphosyntactic Tagging. The Second VarDial Evaluation Campaign <a href="http://alt.qcri.org/vardial2018/">Fifth Workshop on NLP for Similar Languages, Varieties and Dialects (VardDial)</a></li>

                     <li> <B>A. Ali</B>. Multi-dialect Arabic broadcast speech recognition <a href="https://www.era.lib.ed.ac.uk/handle/1842/31224">PhD Thesis</a></li>





                </ul>

            <h5 class="">2017</h4>
                <ul>
                    <li> S. Shon, <B>A. Ali</B> and J. Glass. MIT-QCRI Arabic dialect identification system for the 2017 multi-genre broadcast challenge <a href="https://arxiv.org/abs/1709.00387">ASRU.</a></li>

                    <li> M. Zampieri, S. Malmasi, N. Ljubešić, P. Nakov, <B>A. Ali</B>, J. Tiedemann, Y. Scherrer, N. Noëmi.  Findings of the VarDial evaluation campaign 2017<a href="http://ttg.uni-saarland.de/vardial2017/">Fourth Workshop on NLP for Similar Languages, Varieties and Dialects (VarDial)</a></li>

                    <li> F. Dalvi, Y. Zhang, S. Khurana, N. Durrani, H. Sajjad, A. Abdelali, Ahmed; H. Hamdy; <B>A. Ali</B> and S. Vogel.  QCRI live speech translation system <a href="https://www.aclweb.org/anthology/E17-3.pdf">EACL Demo.</a></li>

                    <li>R. Liepins,... <B>A. Ali</B> ...etc. SUMMA platform prototype <a href="http://homepages.inf.ed.ac.uk/scohen/eacl17summa.pdf">Interspeech Demo.</a></li>

                    <li> S. Khurana, M. Najafian, <B>A. Ali</B>, T. Al Hanai, Tuka; Y. Belinkov and J. Glass. QMDIS: QCRI-MIT Advanced Dialect Identification System<a href="https://people.csail.mit.edu/sameerk/papers/qmdis.pdf">InterSpeech.</a></li>

                    <li> <B>A. Ali</B>, P.  Nakov, P. Bell and S. Renals.  WERd: Using social text spelling variants for evaluating dialectal speech recognition<a href="https://arxiv.org/abs/1709.07484">ASRU.</a></li>
                    
                    <li> <B>A. Ali</B>, S.  Vogel and S. Renals.  Speech recognition challenge in the wild: Arabic MGB-3<a href="https://arxiv.org/abs/1709.07276">ASRU.</a></li>
                    

  
                </ul>

            <h5 class="">2016</h4>
                <ul>
                    <li> S. Khurana and A. Ali. QCRI Advanced Transcription System (QATS) for the Arabic Multi-Dialect Broadcast Media Recognition: MGB-2 Challenge <a href="https://people.csail.mit.edu/sameerk/papers/mgb.pdf">SLT.</a></li>
                    <li> A. Ali, P. Bell, J. Glass, Y. Messaoui, H. Mubarak, S. Renals, Y. Zhang. The MGB-2 Challenge: Arabic Multi-Dialect Broadcast Media Recognition <a href="https://arxiv.org/abs/1609.05625">SLT.</a></li>

                     <li> A. Ali, N. Dehak, P. Cardinal, S. Khurana, S. Yella, J. Glass, P. Bell and S. Renals.  Automatic Dialect Detection in Arabic Broadcast Speech<a href="http://www.cstr.inf.ed.ac.uk/downloads/publications/2016/is2016-automatic-dialect-detection.pdf">InterSpeech.</a></li>

                      <li> S. Malmasi, M. Zampieri, N. Ljubešić, P. Nakov, A. Ali, Ahmed and J. Tiedemann. Discriminating between similar languages and arabic dialect identification: A report on the third dsl shared task. <a href="https://www.aclweb.org/anthology/W16-48.pdf">the Third Workshop on NLP for Similar Languages, Varieties and Dialects (VarDial 3)</a></li>

                </ul>



            <h5 class="">2015</h4>
                <ul>
                    <li> A. Ali, W. Magdy, P. Bell and  S. Renals. Multi-reference WER for evaluating ASR for languages with no orthographic rules <a href="https://homepages.inf.ed.ac.uk/srenals/ahmed-asru2015.pdfURL">ASRU.</a></li>

                    <li> S. Wray, H. Mubarak and A. Ali. Best practices for crowdsourcing dialectal Arabic speech transcription <a href="https://www.aclweb.org/anthology/W15-3211.pdf">Proceedings of the Second Workshop on Arabic Natural Language.</a></li>

                    <li> S. Wray and A. Ali. Crowdsource a Little to Label a Lot: Labeling a Speech Corpus of Dialectal Arabic  <a href="https://pdfs.semanticscholar.org/db6f/6d068729a7b4ef27984e4c391bac921b37c0.pdfURL">InterSpeech.</a></li>

                </ul>

            <h5 class="">2014</h4>
                <ul>
                    <li> A. Ali, Y. Zhang, P. Cardinal, N. Dahak, S. Vogel and  J. Glass, Jim. A complete KALDI recipe for building Arabic speech recognition systems<a href="https://ieeexplore.ieee.org/document/7078629">SLT.</a></li>

                    <li> A. Ali, H. Mubarak and S. Vogel.  Advances in Dialectal Arabic Speech Recognition: A Study Using Twitter to Improve Egyptian ASR<a href="https://pdfs.semanticscholar.org/38df/730ab88dbd8bdcd69b5436050f088d14363e.pdf">IWSLT.</a></li>

                    <li> A. Ali, Y. Zhang and S. Vogel. QCRI ADVANCED TRANSCRIPTION SYSTEM (QATS) <a href="URL">SLT Demo Paper.</a></li>


                    <li>P. Cardinal, A. Ali, N. Dehak; Y. Zhang, T. Al Hanai, Y. Zhang, J. Glass and S. Vogel, Stephan. Recent Advances in ASR Applied to an Arabic Transcription System for Al-Jazeera <a href="https://www.isca-speech.org/archive/archive_papers/interspeech_2014/i14_2088.pdf">InterSpeech</a></li>

                    <li>M. Bahari, N. Dehak, L. Burget, A. Ali and J. Glass. , Jim. Non-negative factor analysis of gaussian mixture model weight adaptation for language and dialect recognition<a href="URL">IEEE/ACM transactions on audio, speech, and language processing.</a></li>

                    <li> K. Darwish, A. Ali and A. AbdelAli. Query Term Expansion by Automatic Learning of Morphological Equivalence Patterns from Wikipedia<a href="https://www.researchgate.net/publication/282916352_Query_term_expansion_by_automatic_learning_of_morphological_equivalence_patterns_from_Wikipedia">Q,SIGIR 2014 Workshop on Semantic Matching in Information Retrieval.</a></li>

                
                </ul>


            <h5 class="">2012</h4>
                <ul>
                    <li> K. Darwish, A. Ali, A. Arabic retrieval revisited: Morphological hole filling <a href="https://www.researchgate.net/publication/262210433_Arabic_retrieval_revisited_Morphological_hole_filling">ACL.</a></li>

                    <li> A. Magdy, A. Ali, K. Darwish A. A summarization tool for time-sensitive social media <a href="https://www.researchgate.net/publication/262404138_A_summarization_tool_for_time-sensitive_social_media">21st ACM international conference on Information and knowledge management</a></li>


                </ul>

            
      </div>
    </section>


    <hr class="m-0">

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='css/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='css/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  
  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='css/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  
  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/resume.min.js') }}"></script>
  
  
</body>

</html>
