{% extends "layout.html" %}

{% block content %}
<div class="col-md-12 blog-main">
    <br/>
    <br/>
    <div class="blog-post">
        <!--<p>We are building it. Work in progress. Get in touch if you can help:-->
        <!--<a href="mailto:arabicspeechinfo@gmail.com">arabicspeechinfo@gmail.com</a>-->
        <!--</p>-->
        <!--<hr>-->
        <div class="row ">
            <div class=" col-md-6">
                <div class="profile-card">
                    <div class="pc-header">
                        <img src="{{ url_for('static', filename='images/profile_pcs/IzAReYRx_400x400.jpg') }}" alt="">
                    </div>
                    <div class="pc-content">
                        <h2>Ahmed Ali</h2>
                        <h3>Principal Software Engineer</h3>
                        <p>at the Arabic Language Technologies group (ALT) at the <strong>Qatar Computing Research
                            Institute (QCRI)</strong>. His work interests are in the area of speech recognition and
                            natural language processing with special attention to dialectal Arabic speech and text
                            processing.</p>

                        <!--<p>Ahmed’s work conducts applied research leading to innovative and practical solutions for-->
                            <!--impacting people’s daily life.</p>-->
                        <p>Ahmed completed his PhD at the University of Edinburgh and BSc at Cairo University.</p>
                        <!--<p>Prior to joining QCRI, Ahmed worked on several projects that focused on speech technology. He-->
                            <!--worked for Nuance in-->
                            <!--Cambridge, UK, in the voicemail to text transcription from 2006-2011. Before Nuance, Ahmed-->
                            <!--worked for six years at-->
                            <!--different IBM labs in speech technology, including two years at Watson, USA, labs.</p>-->
                        <!--<p>His current research on speech recognition has led to the development of state-of-the-art-->
                            <!--multi-dialect Arabic speech-->
                            <!--recognition: QCRI advanced transcription system (QATS). QATS is used by Al-Jazeera to-->
                            <!--transcribe their online-->
                            <!--content automatically. The BBC is using QATS in their media-monitoring platform. QATS has-->
                            <!--won first place in the-->
                            <!--worldwide MGB-2 speech recognition competition. QATS has won the prestigious Qatar-->
                            <!--Foundation Best Innovation Award-->
                            <!--in 2018.</p>-->

                    </div>
                    <div class="pc-footer">
                        <!--<p>Coded by @disooqi</p>-->
                         <ul>
                            <li><a class="fab fa-facebook-f" href="https://www.facebook.com/profile.php?id=100009249968829" target="_blank"></a></li>
                            <li><a class="fab fa-twitter" href="https://twitter.com/ahmaksod" target="_blank"></a></li>
                            <!--<li><a class="fab fa-google-plus-g" href="#" target="_blank"></a></li>-->
                            <!--<li><a class="fab fa-youtube" href="#" target="_blank"></a></li>-->
                            <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/ahmedali08" target="_blank"></a></li>
                            <li><a class="fab fa-github" href="https://github.com/amali" target="_blank"></a></li>
                            <!--<li><a href=""></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">


        </div>

    </div><!-- /.blog-post -->
</div>
{% endblock content %}