{% extends "layout.html" %}

{% block content %}
<div class="col-md-12 blog-main">
    <br/>
    <br/>
    <div class="blog-post">
        <!--<p>We are building it. Work in progress. Get in touch if you can help:-->
        <!--<a href="mailto:arabicspeechinfo@gmail.com">arabicspeechinfo@gmail.com</a>-->
        <!--</p>-->
        <!--<hr>-->
        <div class="row ">
            <div class=" col-md-4">
                <div class="profile-card">
                    <div class="pc-header">
                        <img src="{{ url_for('static', filename='images/profile_pcs/IzAReYRx_400x400.jpg') }}" alt="">
                    </div>
                    <div class="pc-content">
                        <h2>Ahmed Ali</h2>
                        <h3>Principal Engineer</h3>
                        <p>at the Arabic Language Technologies group (ALT) at the <strong>Qatar Computing Research
                            Institute (QCRI)</strong>. His work interests are in the area of speech recognition and
                            natural language processing with special attention to dialectal Arabic speech and text
                            processing.</p>

                        <!--<p>Ahmed’s work conducts applied research leading to innovative and practical solutions for-->
                        <!--impacting people’s daily life.</p>-->
                        <p>Ahmed completed his PhD at the University of Edinburgh and BSc at Cairo University.</p>
                        <!--<p>Prior to joining QCRI, Ahmed worked on several projects that focused on speech technology. He-->
                        <!--worked for Nuance in-->
                        <!--Cambridge, UK, in the voicemail to text transcription from 2006-2011. Before Nuance, Ahmed-->
                        <!--worked for six years at-->
                        <!--different IBM labs in speech technology, including two years at Watson, USA, labs.</p>-->
                        <!--<p>His current research on speech recognition has led to the development of state-of-the-art-->
                        <!--multi-dialect Arabic speech-->
                        <!--recognition: QCRI advanced transcription system (QATS). QATS is used by Al-Jazeera to-->
                        <!--transcribe their online-->
                        <!--content automatically. The BBC is using QATS in their media-monitoring platform. QATS has-->
                        <!--won first place in the-->
                        <!--worldwide MGB-2 speech recognition competition. QATS has won the prestigious Qatar-->
                        <!--Foundation Best Innovation Award-->
                        <!--in 2018.</p>-->

                    </div>
                    <div class="pc-footer">
                        <!--<p>Coded by @disooqi</p>-->
                        <ul>
                            <li><a class="fab fa-facebook-f"
                                   href="https://www.facebook.com/profile.php?id=100009249968829" target="_blank"></a>
                            </li>
                            <li><a class="fab fa-twitter" href="https://twitter.com/ahmaksod" target="_blank"></a></li>
                            <!--<li><a class="fab fa-google-plus-g" href="#" target="_blank"></a></li>-->
                            <!--<li><a class="fab fa-youtube" href="#" target="_blank"></a></li>-->
                            <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/ahmedali08"
                                   target="_blank"></a></li>
                            <li><a class="fab fa-github" href="https://github.com/amali" target="_blank"></a></li>
                            <!--<li><a href=""></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="profile-card">
                    <div class="pc-header">
                        <img src="{{ url_for('static', filename='images/profile_pcs/stephan2.jpg') }}" alt="">
                    </div>
                    <div class="pc-content">
                        <h2>Imad Zitouni</h2>
                        <h3>Research Director</h3>
                        <p>of the Arabic Language Technologies (ALT) group at <strong>Qatar
                            Computing Research Institute (QCRI)</strong>, Stephan is responsible for helping to define
                            the overall research agenda of QCRI and of the ALT team in particular.</p>
                        <p>His research focus is on statistical
                            machine translation (SMT), where statistical models and ML techniques are
                            used to learn from existing (human) translations.
                        </p>

                    </div>
                    <div class="pc-footer">
                        <!--<p>Coded by @disooqi</p>-->
                        <ul>
                            <li><a class="fas fa-graduation-cap"
                                   href="https://www.facebook.com/profile.php?id=100009249968829" target="_blank"></a>
                            </li>
                            <li><a class="fab fa-twitter" href="https://twitter.com/ahmaksod" target="_blank"></a></li>
                            <!--<li><a class="fab fa-google-plus-g" href="#" target="_blank"></a></li>-->
                            <!--<li><a class="fab fa-youtube" href="#" target="_blank"></a></li>-->
                            <li><a class="fab fa-linkedin-in" href="https://qa.linkedin.com/in/vogelstephan"
                                   target="_blank"></a></li>
                            <li><a class="fab fa-github" href="https://github.com/amali" target="_blank"></a></li>
                            <!--<li><a href=""></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        <div class=" col-md-4">
                <div class="profile-card">
                    <div class="pc-header">
                        <img src="{{ url_for('static', filename='images/profile_pcs/afify.jpg') }}" alt="">
                    </div>
                    <div class="pc-content">
                        <h2>Mohamed Afify</h2>
                        <h3>Principal Scientist</h3>
                        <p>Mohamed Afify is principal applied scientist at Microsoft Advanced Technology Lab in Cairo. He is
leading a team working on speaker recognition, Arabic speech recognition and language understanding.
He has long research and development experience in speech and natural language processing and their
applications. He worked for several companies and research organizations in the United States and
Europe and participated in research projects to develop and advance the state-of-the-art of speech and
natural language processing systems. He also taught for several years at Cairo University, where he was
Associate Professor until 2004.
Mohamed received his Ph.D. from Cairo University in 1995. After graduation, he spent long periods at
INRIA Lorraine, Nancy, France, the Multimedia research department at Bell Laboratories, BBN
Technologies, Cambridge, MA, and IBM Thomas J. Watson Research Center, Yorktown Heights, NY. He
participated in projects for developing a speech-to-speech translation prototype, broadcast news and
conversational telephone speech transcription systems, automatic call routing for call center
applications, optical character recognition system, and automatic speaker and language identification. In
June 2008 he joined the newly created Orange Lab as head of voice and multi-media services. He led a
team of developers and researchers to come up with innovative products for Orange affiliates in the
middle-east and Africa.</p>

                    </div>
                    <div class="pc-footer">
                        <!--<p>Coded by @disooqi</p>-->
                        <ul>
                            <li><a class="fab fa-facebook-f"
                                   href="https://www.facebook.com/profile.php?id=100009249968829" target="_blank"></a>
                            </li>
                            <li><a class="fab fa-twitter" href="https://twitter.com/ahmaksod" target="_blank"></a></li>
                            <!--<li><a class="fab fa-google-plus-g" href="#" target="_blank"></a></li>-->
                            <!--<li><a class="fab fa-youtube" href="#" target="_blank"></a></li>-->
                            <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/ahmedali08"
                                   target="_blank"></a></li>
                            <li><a class="fab fa-github" href="https://github.com/amali" target="_blank"></a></li>
                            <!--<li><a href=""></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div><!-- /.blog-post -->
    <div class="blog-post"> 
        <h3> Advisory Board </h3>
        <div class="row ">
            <div class=" col-md-4">
                <div class="profile-card">
                    <div class="pc-header">
                        <img src="{{ url_for('static', filename='images/profile_pcs/IzAReYRx_400x400.jpg') }}" alt="">
                    </div>
                    <div class="pc-content">
                        <h2>Steve Renals</h2>
                        <h3>Principal Software Engineer</h3>
                        <p>at the Arabic Language Technologies group (ALT) at the <strong>Qatar Computing Research
                            Institute (QCRI)</strong>. His work interests are in the area of speech recognition and
                            natural language processing with special attention to dialectal Arabic speech and text
                            processing.</p>

                        <!--<p>Ahmed’s work conducts applied research leading to innovative and practical solutions for-->
                        <!--impacting people’s daily life.</p>-->
                        <p>Ahmed completed his PhD at the University of Edinburgh and BSc at Cairo University.</p>
                        <!--<p>Prior to joining QCRI, Ahmed worked on several projects that focused on speech technology. He-->
                        <!--worked for Nuance in-->
                        <!--Cambridge, UK, in the voicemail to text transcription from 2006-2011. Before Nuance, Ahmed-->
                        <!--worked for six years at-->
                        <!--different IBM labs in speech technology, including two years at Watson, USA, labs.</p>-->
                        <!--<p>His current research on speech recognition has led to the development of state-of-the-art-->
                        <!--multi-dialect Arabic speech-->
                        <!--recognition: QCRI advanced transcription system (QATS). QATS is used by Al-Jazeera to-->
                        <!--transcribe their online-->
                        <!--content automatically. The BBC is using QATS in their media-monitoring platform. QATS has-->
                        <!--won first place in the-->
                        <!--worldwide MGB-2 speech recognition competition. QATS has won the prestigious Qatar-->
                        <!--Foundation Best Innovation Award-->
                        <!--in 2018.</p>-->

                    </div>
                    <div class="pc-footer">
                        <!--<p>Coded by @disooqi</p>-->
                        <ul>
                            <li><a class="fab fa-facebook-f"
                                   href="https://www.facebook.com/profile.php?id=100009249968829" target="_blank"></a>
                            </li>
                            <li><a class="fab fa-twitter" href="https://twitter.com/ahmaksod" target="_blank"></a></li>
                            <!--<li><a class="fab fa-google-plus-g" href="#" target="_blank"></a></li>-->
                            <!--<li><a class="fab fa-youtube" href="#" target="_blank"></a></li>-->
                            <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/ahmedali08"
                                   target="_blank"></a></li>
                            <li><a class="fab fa-github" href="https://github.com/amali" target="_blank"></a></li>
                            <!--<li><a href=""></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="profile-card">
                    <div class="pc-header">
                        <img src="{{ url_for('static', filename='images/profile_pcs/stephan2.jpg') }}" alt="">
                    </div>
                    <div class="pc-content">
                        <h2>Stephan Vogel</h2>
                        <h3>Research Director</h3>
                        <p>of the Arabic Language Technologies (ALT) group at <strong>Qatar
                            Computing Research Institute (QCRI)</strong>, Stephan is responsible for helping to define
                            the overall research agenda of QCRI and of the ALT team in particular.</p>
                        <p>His research focus is on statistical
                            machine translation (SMT), where statistical models and ML techniques are
                            used to learn from existing (human) translations.
                        </p>

                    </div>
                    <div class="pc-footer">
                        <!--<p>Coded by @disooqi</p>-->
                        <ul>
                            <li><a class="fas fa-graduation-cap"
                                   href="https://www.facebook.com/profile.php?id=100009249968829" target="_blank"></a>
                            </li>
                            <li><a class="fab fa-twitter" href="https://twitter.com/ahmaksod" target="_blank"></a></li>
                            <!--<li><a class="fab fa-google-plus-g" href="#" target="_blank"></a></li>-->
                            <!--<li><a class="fab fa-youtube" href="#" target="_blank"></a></li>-->
                            <li><a class="fab fa-linkedin-in" href="https://qa.linkedin.com/in/vogelstephan"
                                   target="_blank"></a></li>
                            <li><a class="fab fa-github" href="https://github.com/amali" target="_blank"></a></li>
                            <!--<li><a href=""></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        </div>
</div>
{% endblock content %}
{% block sidebar %} {% endblock sidebar %}