{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron p-3 p-md-5 rounded bg-dark"
     style="background-image: url({{ url_for('static', filename='images/ArabicSpeech_Logo-834-268.png') }}); background-size: 100% 100%;">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic"></h1>
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <p class="lead my-3"></p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"></a></p>
    </div>
</div>
{% endblock jumbotron %}
{% block announcement %}
<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Scholarships</strong>
                <h5 class="mb-0">
                    <a class="text-dark" href="{{ url_for('vacancies')}}">Jobs and PhD in Speech, Language & Hearing Sciences</a>
                </h5>
                <p class="card-text mb-auto">You can find the latest updates about posts and PhD offers 
                    related to Arabic speech here...</p> 
                <a href="{{ url_for('vacancies')}}">Read more</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block"
                 src="{{ url_for('static', filename='images/download.jpeg') }}" alt="Card image cap">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">Newly Published</strong>
                <h5 class="mb-0">
                    <a class="text-dark" href="/mgb2.html">Multi-dialect Arabic broadcast speech recognition</a>
                </h5>
                <p class="card-text mb-auto">Dialectal Arabic speech research suffers from the lack of labelled
                    resources and standardised orthography. There are three main challenges in dialectal Arabic speech
                    recognition: (i) finding labelled dialectal Arabic speech data, (ii) training robust dialectal
                    ...</p>
                <a href="{{ url_for('mgb2')}}">Continue reading</a>
            </div>
            <!--<img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"-->
            <!--alt="Card image cap">-->
        </div>
    </div>
</div>
{% endblock announcement %}
{% block content %}
<div class="col-md-8 blog-main">
<h3 class="pb-3 mb-4 font-italic border-bottom">
    Newly Added
</h3>

<div class="blog-post">
    <h2 class="blog-post-title">Automatic Speech Recognition</h2>
    <p>Automatic Speech Recognition (ASR) is the process of converting the speech signal into its corresponding text. The quality of ASR systems is measured by how close their recognized sequences of words are to human recognized sequences of words. More formally, the ASR quality, measured by Word Error Rate (WER), is the edit-distance between automatically generated hypotheses and the ground-truth human transcription.</p>
    <p>Traditionally, ASR systems are split into four components: the acoustic model, the pronunciation model, the language model, and the search decoder. Since ASR output hypotheses need to adhere to the statistical structure of language.... <a href="{{ url_for('technologies')}}#nav-asr">Continue reading</a></p>
    <hr>
</div><!-- /.blog-post -->

<div class="blog-post">
    <h2 class="blog-post-title">Arabic Dialect Identifcation</h2>
    <p>The task of Arabic dialect identification (ADI) is a special case of the more general problem of language identification (LID). LID refers to the process of automatically identifying the language class for a given speech segment or text document. Arabic language has several spoken dialects. There are four major dialects for Arabic, including Egyptian, Gulf, Levantine and North African in addition to modern standard Arabic (MSA) which is the official language in Arabic speaking countries. </p>
    <p>Approaches to ADI are closely related to those of language recognition. These include... <a href="{{ url_for('technologies')}}#nav-adi">Continue reading</a></p>
</div><!-- /.blog-post -->

<div class="blog-post">
    <h2 class="blog-post-title">Text To Speech</h2>
    <hr/>
    <p>The Text to Speech (TTS) technology aims to convert a sequence of words into speech. Synthesized speech can be created by concatenating units of recorded speech that are stored in a database as in. Common units used in concatenative synthesizers are phones or diphones. Alternatively, statistical parametric synthesizers also known as HMM-based synthesizers (based on hidden Markov models) can be used to create the synthesized speech. Speech waveforms are generated from HMMs themselves based on the maximum likelihood criterion.  Recently, neural networks have been used as acoustic models for statistical parametric synthesizers. In addition, end-to-end DNN-based speech synthesizers.... <a href="{{ url_for('technologies')}}#nav-tts">Continue reading</a></p>
</div><!-- /.blog-post -->

<div class="blog-post">
    <h2 class="blog-post-title">Language Model</h2>
    <hr/>
    <p>Language Modeling aims at accurately estimating the probability distribution of a word sequences or sentences produced in a natural language such as Arabic. Having a way to estimate the relative likelihood of different word sequences is useful in many natural language processing applications, especially those where natural text is generated such as the case of speech recognition. The goal of a speech recognizer is to match input speech sounds with word sequences. To accomplish this goal, the speech recognizer will leverage the language model to provide the capability to distinguish between words and phrases that sound similar. These ambiguities are easier to resolve when evidence from the language model is incorporated with the pronunciation model and the acoustic model.</p>
   <p>Language models rely heavily on the context, or history, to estimate the probability distribution. The context can be long or short, knowledge-rich or knowledge-poor. We may base the estimation on a single preceding word (e.g., bigram), or potentially using knowledge of all words from the start of the passage preceding the word in question. Knowledge-rich models can incorporate information about morphology, syntax or semantics to inform the estimation of the probability distribution of word sequence, whereas knowledge poor models will rely solely on the words as the appear in the text. It is reasonable to state that current language modeling techniques can be split into two categories: count based and continuous-space based language models.... <a href="{{ url_for('technologies')}}#nav-lm">Continue reading</a></p>
</div><!-- /.blog-post -->



</div>
{% endblock content %}

{% block sidebar %}
<aside class="col-md-4 blog-sidebar">
<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Arabic Speech is an organization that runs for the benefit of the Arabic Speech Science
        and Speech Technology community.</p>
    <p class="mb-0">Arabic speech is concerned with technologies in speech and language processing. Our main
        focus will be Arabic language, both standard and dialectal.</p>
    <p class="mb-0">Arabic speech will help to build innovation and technology capacities for the Arabic
        language. It will focus on tackling large-scale computing challenges that address real priorities
        that will impact people’s life.</p>
    <p class="mb-0">We address the state of the art as well as the state of the market challenges.</p>
    <p class="mb-0">We help to push the boundaries for Arabic speech to make it world class
        technology.</p>
</div>


<div class="p-3">
<a class="twitter-timeline" href="https://twitter.com/ArabicSpeech?ref_src=twsrc%5Etfw">Tweets by ArabicSpeech</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>
</aside><!-- /.blog-sidebar -->

{% endblock sidebar %}
