{% extends "layout.html" %}

{% block content %}
<br/>
<br/>
<div class="col-md-8 blog-main">
        <br/><br/>
<div class="blog-post">
    <h3 class="">Arabic Speech Mailing List</h3>
    <br/>
    <p>Subscribe to the Arabic Speech mailing list to get announcements and get connected with other Arabic speech community members.</p>
    <p>The Arabic Speech mailing list is: <a
            href="mailto:arabicspeech@googlegroups.com">arabicspeech@googlegroups.com</a></p>
    <p>You can also email us at: <a href="mailto:info@arabicspeech.org">info@arabicspeech.org</a></p>
    <hr>
</div><!-- /.blog-post -->
</div>
{% endblock content %}