{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 blog-main">
   <br/>
   <br/>
       <div class="blog-post">
        <center>
            <h5>AI in Speech: What is Next for Arabic Speech Recognition? Arabicspeech 2019</h5>
            <img style='height: 10%; width: 70%; object-fit: contain' src="{{ url_for('static', filename='images/AIspeech.jpg') }}" alt="">
        </center>
            <br>
            <p> The First Arabic speech workshop will be held in Doha, April 29<small><sup>th</sup></small> and 30<small><sup>th</sup></small> 2019. The workshop will be hosted by Qatar Center for Artificial Intelligence (QCAI) of Qatar Computing Research Institute (QCRI).</p>
            
            <p> The purpose of this workshop is to bring together researchers, practitioners, students and industry experts in the fields of speech recognition and language processing with special attention to Arabic (standard and dialectal) to present recent advances, to discuss open research questions, and to bridge the gap between research and industry needs on certain concrete problems.</p>
            <p> We invite colleagues from both academic and industrial fields to attend, contribute and discuss these topics with leading experts and practitioners from around the world.</p>
            
            <p>To register to the event, please click <a 
                                    href="https://www.eventbrite.com/e/ai-in-speech-what-is-next-for-arabic-speech-recognition-arabicspeech-2019-tickets-60389426400">here.</a>
            </p>
            <p>For more details about the workshop, please visit <a
                                    href="https://qcai.qcri.org/index.php/2019/04/15/ai-in-speech-what-is-next-for-arabic-speech-recognition-arabicspeech-2019/">QCAI.</a>
            </p>



       </div><!-- /.blog-post -->
</div>
{% endblock content %}  