{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 blog-main">
    <br/>
    <br/>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">

                    
                    <a class="nav-item nav-link" id="tab_2019-tab" data-toggle="tab" href="#tab_2019" data-url="?action=2019">2019</a>
                    <a class="nav-item nav-link active" id="tab_2020-tab" data-toggle="tab" href="#tab_2020" data-url="?action=2020">2020</a>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="tab_2019" role="tabpanel" aria-labelledby="tab_2019-tab">
                    <div class="blog-post">
            <center>
            <h4>AI in Speech: What is Next for Arabic Speech Recognition? Arabicspeech 2019</h4>
            <img style='height: 10%; width: 70%; object-fit: contain' src="{{ url_for('static', filename='images/AIspeech_xl-1024x573.jpg') }}" alt="">
        </center>
            <br>
            <p> The First Arabic speech workshop was held in Doha, April 29<small><sup>th</sup></small> and 30<small><sup>th</sup></small> 2019. The workshop was hosted by Qatar Center for Artificial Intelligence <a href="https://qcai.qcri.org/index.php/2019/04/15/ai-in-speech-what-is-next-for-arabic-speech-recognition-arabicspeech-2019/">(QCAI)</a> of Qatar Computing Research Institute <a href="https://www.hbku.edu.qa/en/qcri">(QCRI)</a>.</p>


        <p> The purpose of this workshop is to bring together researchers, practitioners, students and industry experts in the fields of speech recognition and language processing with special attention to Arabic (standard and dialectal) to present recent advances, to discuss open research questions, and to bridge the gap between research and industry needs on certain concrete problems.</p>
            <p> We invite colleagues from both academic and industrial fields to attend, contribute and discuss these topics with leading experts and practitioners from around the world.</p>
            
            <!--<p>To register to the event, please click <a 
                                    href="https://www.eventbrite.com/e/ai-in-speech-what-is-next-for-arabic-speech-recognition-arabicspeech-2019-tickets-60389426400">here.</a>
            </p>
            -->
            
            <hr>
                        <h6>Schedule</h6>
                        <ul>    
                                <li> Opening remark and welcome to QCRI. <a href="https://youtu.be/X1TYzvwO89c"><B>video</B></a>.</li>  
                                <li> Introduction to Arabic Speech. <a href="https://youtu.be/FMqzd4rCtDQ"><B>video</B></a>.</li>  
                                <li>  Emotion recognition and sentiment analysis based on speech for call centres.     <a href="https://drive.google.com/open?id=16zsqUy0AxGFbO0c1GYc-qBYhuTJ8Ry-r"><B>slides</B>, </a> <a href="https://youtu.be/SQVupjrd1J4"><B>video</B></a>.</li>    
                                <li>      WaveFont – Visualization of information from the voice in captions. <a href="https://youtu.be/vO4hx0QR_9Y"><B>video</B></a>.</li>
                                <li>      Aalto submission to the MGB-3 challenge. <a href="https://drive.google.com/open?id=1KGU_dhSgW3DE0ecxVrhUoiKdfRojqszk"><B>slides</B></a>, <a href="https://youtu.be/MhGxu5KjElQ"><B>video</B></a>.</li>
                                <li>      DNN statistical interpretation and normalization for ASR. <a href="https://drive.google.com/open?id=1IWU22NnSBJW0zM-f9VNwQbk8BIlOnd63"><B>slides</B></a>, <a href="https://youtu.be/MomZa3lmpmM"><B>video</B></a>.</li>
                                <li>      Speech recognition in the news room. <a href="https://drive.google.com/open?id=1i1xte76XCEprg3tzxb6r0OXPM2-lxyVu"><B>slides</B></a>, <a href="https://youtu.be/H61LNW_sGEU"><B>video</B></a>.</li>
                                <li>      Transformers with convolutional context for ASR. <a href="https://drive.google.com/open?id=14OtwchzoLDtp2erJ2z17LC64U7c5OhB9"><B>slides</B></a>, <a href="https://youtu.be/QqkixbRf_aI"><B>video</B></a>.</li>
                                <li>      OCR and handwriting using kaldi. <a href="https://drive.google.com/open?id=1gatcs2-c5p0qve2RH0N4euEg7vy1LNNm"><B>slides</B></a>, <a href="https://youtu.be/QCoAQYbjlqc"><B>video</B></a>.</li>
                                <li>      Arabic linguistic resources at Birzeit University. <a href="http://www.jarrar.info/Talks/BigLinguisticDataGraph.pdf"><B>slides</B></a>, <a href="https://youtu.be/97LQgMBQYis"><B>video</B></a>.</li>
                                <li>      Building large scale speech resources for Arabic – ELRA. <a href="https://drive.google.com/open?id=1fQMkqYWpzNjxHWljdtBM1AaXGhY0Tbwh"><B>slides</B></a>, <a href="https://youtu.be/MG66T4liFvM"><B>video</B></a>.</li>
                                <li>      Algerian hierarchical classification  for spoken dialect identification. <a href="https://drive.google.com/open?id=1xtrIdk6ZYJxC1iHQDc-_COzi6jMaoD7P"><B>slides</B></a>, <a href="https://youtu.be/PiTB2O2AJcg"><B>video</B></a>.</li> 
                                <li>      Speech and Language Technologies for Arabic. <a href="https://drive.google.com/open?id=1p1qRBp5cXPyV_4wCDcw47jViqXmMJPC1"><B>slides</B></a>, <a href="https://youtu.be/okG0iapgwzI"><B>video</B></a>.</li>
                        </ul>


            <p>For more details about the workshop, please visit <a
                                    href="https://qcai.qcri.org/index.php/2019/04/15/ai-in-speech-what-is-next-for-arabic-speech-recognition-arabicspeech-2019/">QCAI.</a>
            </p>

            
            
                        
                    </div><!-- /.blog-post -->

                </div>
                
                <!-- 2020 post -->
                <div class="tab-pane fade show active" id="tab_2020" role="tabpanel" aria-labelledby="tab_2020-tab">
                    <div class="blog-post">
                        <br/>
                        <center>
                        <h4>The Second Arabic Speech Meeting: (ArabicSpeech 2020)</h4>
                        <h4>April 20,21 Doha, Qatar</h4>
                    </center>
                        
            <p>The second annual meeting will take place in Qatar Computing Research Institute (QCRI), Doha, Qatar. The program includes a mixture of invited speakers, oral presentation and poster sessions. The poster session is open to researchers in the field of speech and language processing. We invite submissions on topics that include, but are not limited to, the following:</p>


                         <ul style="list-style-type:square">
                                <li>Basic core technologies: automatic speech recognition, text to speech, language modeling and end-to-end speech processing.</li>
                                <li>Applications: dialectal speech processing, code switching in speech, speech translation, assistive technologies and cutting-edge demos.</li>
                                <li>Resources: dictionaries, annotated data, corpus, etc.</li>
                            </ul> 
                        
                        <h6>Dates for the  Second ArabicSpeech meeting as follows:</h6>
                         <ul style="list-style-type:square">
                                <li>February 1, 2020: Posters due date. Submit your poster to: <a href="mailto:info@arabicspeech.org">info@arabicspeech.org</a></li>
                                <li>February 15, 2020: Notification of Acceptance</li>
                                <li>April 20-21, 2020: Workshop Date</li>
                        
                            </ul> 

                              
                         <p> You can find more details about the call for papers: <a href=" {{ url_for ('static',filename='data_resources/ArabicSpeechCall_2020.pdf') }} ">here.</a>
            </p>
                        
            <p> If you have a question, email us at: <a href="mailto:info@arabicspeech.org">info@arabicspeech.org</a>.
             

                    </div><!-- /.blog-post -->
                </div>
                
           
                
            </div>
</div>
{% endblock content %}
