{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 blog-main">
   <br/>
   <br/>
       <div class="blog-post">
        <center>
            <h5>The Fifth Edition of the Multi-Genre Broadcast Challenge: MGB-5 </h5>
        </center>
            <br>
            <p> The challenge is an evaluation of speech recognition and dialect identification techniques using YouTube recordings. The data is highly diverse, spanning the whole range of YouTube genres. Our aim is to encourage researchers to evaluate the latest research techniques using large quantities of realistic data with immediate real-world applications, as well as encouraging approaches to adaptation, semi-supervised and unsupervised learning.</p>
            
            <p>To register a team to the challenge, please click <a 
                                    href="https://docs.google.com/forms/d/e/1FAIpQLSf9phZNH3dNke1_LNsRfKCnHvd93wFGKtG6g8cV6zr7JBiNxA/viewform?usp=sf_link">here.</a>
            </p>
            

       </div><!-- /.blog-post -->
</div>


<div class="col-md-8 blog-main">
    <br/>
    <br/>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Speech Recognition</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Dialect Identifcation</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h6 class="blog-post-title">Moroccan ASR</h6>
                        <br/>
                        <p>ASR ...</p>
                        <hr>
                        
                   
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
				    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h5 class="blog-post-title">ADI 2.0</h5>
                        <br/>
                        <p>ADI ...</p>
                        <hr>
                        
                   
                </div>
                    
                </div>
            </div>
</div>
{% endblock content %}  