{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 blog-main">
<!--<div class="card bg-light">-->
<div class="blog-post">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Join Today</h4>
                <h6 class="card-title mt-3 text-center">All the information below is required to get access to the MGB-2 corpus</h6>
        <!--<p class="text-center">Get started with your free account</p>-->
        <!--<p>-->
        <!--<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>-->
        <!--<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>-->
        <!--</p>-->
        <!--<p class="divider-text">-->
        <!--<span class="bg-light">OR</span>-->
        <!--</p>-->
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i>
                        &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                            {% if form.fullname.flags.required %}*{% endif %}
                        </span>
                    </span>
                </div>
                {% if form.fullname.errors %}
                {{ form.fullname(class="form-control is-invalid", placeholder="Full name") }}
                <div class="invalid-feedback">
                    {% for error in form.fullname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.fullname(class="form-control", placeholder="Full name") }}
                {% endif %}
            </div> <!-- form-group// -->
            
            <div class="form-group input-group">
                <div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i>
                &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                    {% if form.email.flags.required %}*{% endif %}
                </span>
            </span>
                </div>
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="Email address") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control", placeholder="Email address") }}
            {% endif %}
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i>
                        &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                            {% if form.position.flags.required %}*{% endif %}
                        </span>
                    </span>
                </div>
                {% if form.position.errors %}
                {{ form.position(class="form-control is-invalid", placeholder="Position") }}
                <div class="invalid-feedback">
                    {% for error in form.position.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.position(class="form-control", placeholder="Position") }}
                {% endif %}
            </div> <!-- form-group// -->


            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-university"></i>
                        &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                            {% if form.affiliation.flags.required %}*{% endif %}
                        </span>
                    </span>
                </div>
                {% if form.affiliation.errors %}
                {{ form.affiliation(class="form-control is-invalid", placeholder="Affiliation") }}
                <div class="invalid-feedback">
                    {% for error in form.affiliation.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.affiliation(class="form-control", placeholder="Affiliation") }}
                {% endif %}
            </div> <!-- form-group// -->


            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-university"></i>
                        &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                            {% if form.department.flags.required %}*{% endif %}
                        </span>
                    </span>
                </div>
                {% if form.department.errors %}
                {{ form.department(class="form-control is-invalid", placeholder="Department") }}
                <div class="invalid-feedback">
                    {% for error in form.department.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.department(class="form-control", placeholder="Department") }}
                {% endif %}
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-address-card"></i>
                        &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                            {% if form.address.flags.required %}*{% endif %}
                        </span>
                    </span>
                </div>
                {% if form.address.errors %}
                {{ form.address(class="form-control is-invalid", placeholder="Address") }}
                <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.address(class="form-control", placeholder="Address") }}
                {% endif %}
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone-square"></i>
                        &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                            {% if form.telephone.flags.required %}*{% endif %}
                        </span>
                    </span>
                </div>
                {% if form.telephone.errors %}
                {{ form.telephone(class="form-control is-invalid", placeholder="Telephone") }}
                <div class="invalid-feedback">
                    {% for error in form.telephone.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.telephone(class="form-control", placeholder="Telephone") }}
                {% endif %}
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i>
                &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                    {% if form.password.flags.required %}*{% endif %}
                </span>
            </span>
                </div>
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", placeholder="Password") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control", placeholder="Password") }}
            {% endif %}
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i>
                &nbsp;<span class="text-danger font-weight-bold text-lg-center">
                    {% if form.confirm_password.flags.required %}*{% endif %}
                </span>
            </span>
                </div>
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm password") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
            {% endif %}
            </div> <!-- form-group// -->
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block") }}
                <!--<button type="submit" class="btn btn-primary btn-block"> Create Account  </button>-->
            </div> <!-- form-group// -->
            <p class="text-center">Have an account? <a href="{{ url_for('login') }}">Log In</a></p>
        </form>
    </article>
</div>
</div> <!-- card.// -->
{% endblock content %}
