{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 blog-main">
    <br/>
    <br/>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-asr-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Automatic Speech Recognition</a>
                    <a class="nav-item nav-link" id="nav-adi-tab" data-toggle="tab" href="#nav-adi" role="tab"
                       aria-controls="nav-adi" aria-selected="false">Arabic Dialect Identifcation</a>
                    <a class="nav-item nav-link" id="nav-tts-tab" data-toggle="tab" href="#nav-tts" role="tab"
                       aria-controls="nav-tts" aria-selected="false">Text To Speech</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-asr" role="tabpanel" aria-labelledby="nav-asr-tab">
                    <div class="blog-post">
                        <br/>
                        <h4 class="">Automatic Speech Recognition</h4>
                        <br/>
                        <p>Automatic Speech Recognition (ASR) is defined as the process of realising acoustic speech audio into
                            a corresponding word sequence, which is the word sequence that is as close as possible to what a
                            human could transcribe. The best start for ASR is the <a
                                    href="http://htk.eng.cam.ac.uk/docs/docs.shtml">HTKbook</a>.</p>
                        <p>You can also learn a lot from <a href="http://kaldi-asr.org/">kaldi</a>. Kaldi is a toolkit for
                            speech recognition written in C++ and
                            licensed under the Apache License v2.0. Kaldi is intended for use by speech recognition researchers.
                        </p>
                        <p>You can learn more about Automatic Speech Recognition from the brief <a href="/publications.html">list
                            of the most the recent publication</a> we provide.</p>
                        <hr>

                    </div><!-- /.blog-post -->
                </div>
                <div class="tab-pane fade" id="nav-adi" role="tabpanel" aria-labelledby="nav-adi-tab">
                    <div class="blog-post">
                        <br/>
                        <h4 class="">Arabic Dialect Identifcation</h4>
                        <br/>
                        <p>Arabic dialects are sufficiently diverse to the extent that one can argue to describe them as different languages rather than dialects of the same language. Thus, automatically identifying the input dialect can greatly improve ASR.</p>
                        <p>It can be argued that a language is a dialect with an army and navy. If we take this perspective into consideration, we can describe the different Arabic dialects as different languages. However, Arabic today is a language with different dialects and different armies!</p>
                        <p>Dialect identification can be regarded as a special case of language recognition. However, dialect identification is a harder problem since there is no single view of how many spoken dialects there are in Arabic. You can learn about the latest research in Arabic Dialect Identification (ADI) <a href="/publications.html">here</a>.</p>
                    </div><!-- /.blog-post -->
                </div>
                <div class="tab-pane fade" id="nav-tts" role="tabpanel" aria-labelledby="nav-tts-tab">
                    <div class="blog-post">
                        <br/>
                        <h4 class="">Text To Speech</h4>
                        <br/>
                        <p>The Text to Speech (TTS) technology aims to convert a sequence of words into speech.  Since Modern Standard Arabic (MSA) is written without diacritics, the first step to develop an Arabic TTS engine [1] is to restore the diacritics of each word in the text [2][3][4]. The diacritized text is then passed to a phonetic transcription module to generate the phoneme sequence for each phrase [5]. The phone sequence and phonological features are used to synthesis the speech output (i. e. sound).  The synthesizer historically was either concatenative [1] or parametric [6]. Recently, End-to-End synthesizers based on neural networks are developed [7][8][9].</p>
                        <small>
                            <p style="margin-bottom:0;">  [1] Hifny, Yasser, et al. "ArabTalk®: An Implementation for Arabic Text To Speech System."The proceedings of the 4th Conference on Language Engineering. 2004.  </p>
                            <p style="margin-bottom:0;">  [2] Rashwan, Mohsen AA, et al. "A stochastic Arabic diacritizer based on a hybrid of factorized and unfactorized textual features."IEEE Transactions on Audio, Speech, and Language Processing 19.1 (2011): 166-175. </p>
                            <p style="margin-bottom:0;"> [3] Darwish, Kareem, Hamdy Mubarak, and Ahmed Abdelali. "Arabic diacritization: Stats, rules, and hacks."Proceedings of the Third Arabic Natural Language Processing Workshop. 2017.</p>
                            <p style="margin-bottom:0;"> [4] Hifny, Yasser. "Hybrid LSTM/MaxEnt Networks for Arabic Syntactic Diacritics Restoration."IEEE Signal Processing Letters 25.10 (2018): 1515-1519.</p>
                            <p style="margin-bottom:0;"> [5] https://github.com/nawarhalabi/Arabic-Phonetiser</p>
                            <p style="margin-bottom:0;"> [6] Abdel-Hamid, Ossama, Sherif Mahdy Abdou, and Mohsen Rashwan. "Improving Arabic HMM based speech synthesis quality." Ninth International Conference on Spoken Language Processing. 2006.</p>
                            <p style="margin-bottom:0;"> [7] Ping, Wei, et al. "Deep voice 3: Scaling text-to-speech with convolutional sequence learning." (2018).</p>
                            <p style="margin-bottom:0;"> [8] Wang, Yuxuan, et al. "Tacotron: Towards end-to-end speech synthesis." arXiv preprint arXiv:1703.10135 (2017).</p>
                            <p style="margin-bottom:0;"> [9] https://github.com/youssefsharief/arabic-tacotron-tts</p> 
                        </small>
                    </div><!-- /.blog-post -->
                </div>
            </div>
</div>
{% endblock content %}
