{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 blog-main">
    <br/>
    <br/>
<div class="blog-post">
    <p>List of jobs and studentship related to Arabic speech or in the Arabic region.</p>
    <hr>
</div><!-- /.blog-post -->
<a href="{{ url_for('static', filename='posts/QCRI_Speech.pdf')}}">Speech sScientist and Postdoc Research Opportunities at QCRI</a>
<br>
<a href="{{ url_for('static', filename='posts/Postdoc-Flyer-MIT-QCRI-Speech.pdf')}}">MIT QCRI speech joint postdoc</a>
</div>
{% endblock content %}
